.queryContainer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.queryMovie {
  width: 20%;
  text-align: center;
  align-items: center;
  margin: 0% auto;
  margin-bottom: 3%;
}
