/* .nominationsContainer {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}
*/
.nominationMovie {
  text-align: center;
}

h2 {
  text-align: center;
}

.nominationBox {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  justify-content: space-between;
}

.nominationBox p {
  width: 60%;
}

.nominationBox button {
  margin-left: 3%;
}
